@model IEnumerable<AuthCookie.Models.Cat>

@{
    ViewData["Title"] = "Cat Page";
    int index = 1;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>From My Pet Store </p>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>    
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>
                    <td>
                        @(index)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cat.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-small btn-success" >
                            <img src="~/img/edit.svg" alt="Edit Image" class="icon_img" />
                            Edit
                        </a> |
                        <a asp-action="Details" asp-route-id="@cat.Id" class="btn btn-small btn-primary">
                            <img src="~/img/detail.svg" alt="Detail Image" class="icon_img" />
                            Detail
                        </a> |
                        <a  class="btn btn-small btn-danger" href="javascript:void(0);" onclick="confirmDelete('@Url.Action("Delete", new { id = cat.Id })');">
                            <img src="~/img/delete.svg" alt="Delete Image" class="icon_img" />
                            Delete
                        </a>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        function confirmDelete(url) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to recover this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        }
    </script>
}

