@model ResetPasswordViewModel﻿
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <h4 class="card-header text-secondary text-center">
                    -- RESET PASSWORD --
                </h4>
                <div class="card-body">
                    <form asp-action="Reset" method="post">
                        @if (ViewBag.Error != null)
                        {
                            <p class="text-danger">@ViewBag.Error</p>
                        }
                        <input type="hidden" asp-for="Token"/>
                        <input type="hidden" asp-for="Expiry" />
                        <input type="hidden" asp-for="ResetEmail" />
                        <div class="form-group mb-2">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" id="new-password" name="NewPassword" placeholder="Password">
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Comfirm Password</label>
                            <input type="password" class="form-control" id="comfirm-password" name="ConfirmPassword" placeholder="Password">
                        </div>
                        <div class="form-group mb-4">
                            <button type="submit" class="btn btn-primary btn-block w-100">Reset</button>
                        </div>
                        <div class="text-primary text-center mb-4">Expired in <span id="time">00:00</span> minutes!</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
</div>

@section Scripts {
    <script>
        var expiryTime = new Date('@Model.Expiry');
        
        console.log("expiry time", expiryTime);
        var now = new Date();

        if (now > expiryTime) {
            window.location.href = '@Url.Action("LinkExpired", "Account")';
        } else {
            var timeRemaining = (expiryTime - now) / 1000; // Convert milliseconds to seconds

            setTimeout(function () {
                window.location.href = '@Url.Action("LinkExpired", "Account")';
            }, timeRemaining * 1000);

            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                var countdown = setInterval(function () {
                    if (timer <= 0) {
                        clearInterval(countdown);
                        window.location.href = '@Url.Action("LinkExpired", "Account")';
                        return;
                    }

                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.text(minutes + ":" + seconds);

                    timer--;
                }, 1000);
            }

            jQuery(function ($) {
                var display = $('#time');
                startTimer(timeRemaining, display);
            });
        }
    </script>
   
}